{% extends "KolomietsBlogBundle:Default:template.html.twig" %}

{% block title %}Add post{% endblock %}
{% block head %}New post{% endblock %}
{% block text %}
    <div class="form-group">
        {{ form_start(form) }}
        <div style="display: none">
            {{ form_row(form.date) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
