<!Doctype html>
<html>
<head>
    {% block css %}
        <link href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" media="all" rel="stylesheet" type="text/css" />
    {% endblock %}
    <title>
        {% block title %}My blog{% endblock %}
    </title>
</head>
<body>
    {% block body %}
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url("blog") }}">MyBlog</a>
                </div>
                {{ knp_menu_render('main') }}
            </div>
        </nav>
        <div class="row">
            <div class="span5">
            <div class="col-md-6 col-md-offset-3">
                <h1>{% block head %}{% endblock %}</h1>
            </div>
            <div class="col-md-6 col-md-offset-3">
                {% block text %}{% endblock %}
            </div>
            </div>
            {% block category %}{% endblock %}
        </div>
    {% endblock %}
</body>
</html>
